1.	Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [24]:
n=[]
for i in range(1500,2701):
    if i%7==0 and i%5==0:
        n.append(i)

In [25]:
print(n)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

2.	Python program to add two numbers

In [22]:
a =int(input("Enter first number"))
b= int(input('Enter second number'))
sum= a+b
print('Sum of two numbers are, ', sum)

Enter first number3
Enter second number4
Sum of two numbers are,  7

3.	Maximum of two numbers in Python

In [23]:
a = int(input("Enter 1st number "))
b = int(input("Enter 2nd number "))
if a>b:
    print("A is max")
else:
    print('B is max')

Enter 1st number 23
Enter 2nd number 11
A is max

4.	Python Program for factorial of a number

In [26]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n* factorial(n-1)

In [27]:
factorial(4)

24

5.	Python Program for simple interest

In [31]:
def si(p,r,t):
    si = (p*r*t)/100
    return si

In [32]:
si(1000,6,3)

180.0

6.	Python Program for compound interest

In [38]:
def ci(p,t,r):
    print("The amount entered is ",p)
    print("The time entered is ",t)
    print("The rate entered is ",r)
    
    amt= p*(pow((1 + r/100),t))
    print(amt)
    ci = amt-p
    return ci

In [39]:
ci(1000,2,5)

The amount entered is  1000
The time entered is  2
The rate entered is  5
1102.5

102.5

7.	Python Program to check Armstrong Number

In [4]:
def armstrong(n):
    res=0
    
    temp=n
    while temp>0:
        digit= temp%10
        res= res + (digit**3)
        temp = temp//10
    
    if res == n:
        print("Number is armstrong")
    else:
        print("Number not armstrong")

In [5]:
armstrong(407)

Number is armstrong

8.	Python Program for Program to find area of a circle

In [61]:
def area_circle(r):
    print("Radius of circle: ", r)
    area =3.14 * (pow(r,2)) 
    return area

In [62]:
area_circle(5)

Radius of circle:  5

78.5

9.	Python program to print all Prime numbers in an Interval

In [83]:
def prime(low, high):
    prime=[]
    for num in range(low, high+1):
        if num>1:
            for i in range(2, num):
                if num%i==0:
                    break
            else:
                prime.append(num)
    return prime

In [84]:
prime(10,120)

[11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113]

Python program to check whether a number is Prime or not

In [1]:
def check_prime(n):
    if n>1:
        for i in range(2, int(n/2)+1):
            if n%i==0:
                print("Number is not prime")
                break
            else:
                print('Number is prime')

In [2]:
check_prime(5)

Number is prime

In [3]:
check_prime(10)

Number is not prime